name: CI/CD Java to AWS Elastic Beanstalk

on:
  push:
    branches: [ main ]   # cada push a main despliega
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn -B clean package

      - name: Install AWS EB CLI
        run: |
          pip install awsebcli --upgrade --user
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to Elastic Beanstalk
        run: |
          eb init "${{ secrets.EB_APP_NAME }}" --platform "Java" --region "${{ secrets.AWS_REGION }}"
          eb use "${{ secrets.EB_ENV_NAME }}"
          # Crear zip con el jar generado
          zip -j app.zip target/*.jar
          eb deploy
